Repository Deepractice/DeepracticeInfra: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# Lefthook configuration for DeepracticeInfra
# https://lefthook.dev/configuration/

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,js,json,md,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{ts,js}"
      run: pnpm lint

pre-push:
  parallel: true
  commands:
    typecheck:
      run: pnpm typecheck

    # Optional: skip tests and build in pre-push if too slow
    # CI will catch these issues anyway
    # test:
    #   run: pnpm test
    #
    # build:
    #   run: pnpm build

fix: update test expectations and service step definition
  apps/cli/features/infra/app/validate.feature
  apps/cli/tests/e2e/steps/service.steps.ts
Due: format, lint

fix: skip config validation tests and fix monorepo info/validate output
  apps/cli/features/infra/config/list.feature
  apps/cli/features/infra/config/validate.feature
  apps/cli/src/commands/infra/monorepo/info.ts
  apps/cli/src/commands/infra/monorepo/validate.ts
Due: format, lint

fix: configure cucumber to skip @skip tagged scenarios
  apps/cli/cucumber.cjs
Due: none

fix: improve monorepo info output and test setup
  apps/cli/src/commands/infra/monorepo/info.ts
  apps/cli/tests/e2e/steps/workspace.steps.ts
Due: format, lint

fix(test): resolve test failures in monorepo info and validation
  apps/cli/features/infra/monorepo/info.feature
  apps/cli/features/infra/monorepo/validate.feature
  apps/cli/src/commands/infra/monorepo/info.ts
  apps/cli/tests/e2e/steps/validation.steps.ts
  apps/cli/tests/e2e/steps/workspace.steps.ts
  src/core/template/PackageGenerator.ts
Due: format, lint

chore: add changeset for test framework stabilization
  .changeset/test-framework-fixes.md
Due: format

fix(ci): resolve shell escaping issues in release notes generation
  .github/workflows/release.yml
Due: format

refactor(generators): use file processor chain pattern for dogfooding
  src/core/template/AppGenerator.ts
  src/core/template/BaseGenerator.ts
  src/core/template/PackageGenerator.ts
  src/core/template/processor/AppPackageJsonProcessor.ts
  src/core/template/processor/MarkdownProcessor.ts
  src/core/template/processor/PackageJsonProcessor.ts
  src/core/template/processor/TsConfigProcessor.ts
  src/core/template/processor/TypeScriptProcessor.ts
  src/core/template/processor/index.ts
  src/core/template/processor/types.ts
Due: format, lint

feat(configurer): unify config naming to 'base' and create vitest-cucumber
  packages/configurer/features/commitlint-config.feature
  packages/configurer/features/eslint-config.feature
  packages/configurer/features/package-exports.feature
  packages/configurer/features/prettier-config.feature
  packages/configurer/features/steps/common.steps.ts
  packages/configurer/features/tsup-config.feature
  packages/configurer/features/typescript-config.feature
  packages/configurer/features/vitest-config.feature
  packages/configurer/package.json
  packages/configurer/src/api/commitlint.ts
  packages/configurer/src/api/eslint.ts
  packages/configurer/src/api/index.ts
  packages/configurer/src/api/prettier.ts
  packages/configurer/src/api/tsup.ts
  packages/configurer/src/api/typescript.ts
  packages/configurer/src/api/vitest.ts
  packages/configurer/src/index.ts
  packages/configurer/src/types/index.ts
  packages/configurer/tests/e2e/cucumber.test.ts
  packages/configurer/tests/e2e/steps/common.steps.ts
  packages/configurer/tsconfig.json
  packages/configurer/tsup.config.ts
  packages/configurer/vitest.config.ts
  packages/vitest-cucumber/README.md
  packages/vitest-cucumber/package.json
  packages/vitest-cucumber/src/api/index.ts
  packages/vitest-cucumber/src/api/integration.ts
  packages/vitest-cucumber/src/core/discovery.ts
  packages/vitest-cucumber/src/core/index.ts
  packages/vitest-cucumber/src/core/runner.ts
  packages/vitest-cucumber/src/index.ts
  packages/vitest-cucumber/src/types/index.ts
  packages/vitest-cucumber/tsconfig.json
  packages/vitest-cucumber/tsup.config.ts
  pnpm-lock.yaml
  src/core/template/BaseGenerator.ts
  src/core/template/MonorepoGenerator.ts
  src/core/template/ServiceGenerator.ts
  src/core/template/processor/GenericFileProcessor.ts
  src/core/template/processor/index.ts
Due: format, lint

chore: ignore tsup bundled config cache files
  .gitignore
Due: none

chore: remove obsolete cucumber.cjs config files
  apps/cli/cucumber.cjs
  packages/error-handling/cucumber.cjs
  packages/example/cucumber.cjs
  packages/logger/cucumber.cjs
Due: none

fix: allow vitest-cucumber tests to pass with no test files
  packages/vitest-cucumber/package.json
Due: format

feat(vitest-cucumber): add advanced Gherkin features support
  packages/vitest-cucumber/src/core/parser/FeatureParser.ts
  packages/vitest-cucumber/src/core/transformer/CodeGenerator.ts
  packages/vitest-cucumber/src/types/feature.ts
  packages/vitest-cucumber/src/types/index.ts
  packages/vitest-cucumber/tests/e2e/fixtures/background-advanced.feature
  packages/vitest-cucumber/tests/e2e/fixtures/rules-advanced.feature
  packages/vitest-cucumber/tests/e2e/fixtures/scenario-outline-advanced.feature
  packages/vitest-cucumber/tests/e2e/fixtures/steps/advanced.steps.ts
  packages/vitest-cucumber/tests/e2e/plugin/advanced.test.ts
  packages/vitest-cucumber/tests/e2e/plugin/verification.test.ts
Due: format, lint

fix: resolve GherkinParser state pollution and vitest-cucumber dependency issues
  package.json
  packages/configurer/package.json
  packages/configurer/src/api/vitest.ts
  packages/configurer/tsup.config.ts
  packages/example-package/CHANGELOG.md
  packages/example-package/README.md
  packages/example-package/features/basic.feature
  packages/example-package/features/cucumber-features.feature
  packages/example-package/features/lifecycle.feature
  packages/example-package/package.json
  packages/example-package/src/api/example.ts
  packages/example-package/src/api/index.ts
  packages/example-package/src/core/index.ts
  packages/example-package/src/core/processor.ts
  packages/example-package/src/index.ts
  packages/example-package/src/types/config.ts
  packages/example-package/src/types/index.ts
  packages/example-package/src/types/public.ts
  packages/example-package/tests/cucumber-features.steps.ts
  packages/example-package/tests/e2e/steps/example.steps.ts
  packages/example-package/tests/e2e/support/hooks.ts
  packages/example-package/tests/e2e/support/world.ts
  packages/example-package/tests/unit/core/processor.test.ts
  packages/example-package/tsconfig.json
  packages/example-package/tsup.config.ts
  packages/example-package/vitest.config.ts
  packages/vitest-cucumber/src/core/parser/GherkinParser.ts
  pnpm-lock.yaml
Due: format, lint

refactor(configurer): improve Cucumber exports and fix version conflicts
  packages/configurer/README.md
  packages/configurer/features/steps/common.steps.ts
  packages/configurer/package.json
  packages/configurer/src/api/cucumber.ts
  packages/configurer/src/api/index.ts
  packages/configurer/src/api/vitest.ts
  packages/configurer/tests/e2e/cucumber.test.ts
  packages/configurer/tests/e2e/steps/common.steps.ts
  packages/configurer/tsup.config.ts
  pnpm-lock.yaml
  src/mirror/package.json
Due: format, lint

fix(error-handling): update Cucumber imports to use /cucumber subpath
  packages/error-handling/tests/e2e/steps/error.steps.ts
  packages/error-handling/tests/e2e/steps/result.steps.ts
  packages/error-handling/tests/e2e/support/hooks.ts
Due: format, lint

fix(example-package): update Cucumber imports to use /cucumber subpath
  packages/example-package/tests/cucumber-features.steps.ts
Due: format, lint

fix(error-handling): fix hook type errors in Cucumber hooks
  packages/error-handling/tests/e2e/support/hooks.ts
Due: format, lint

refactor: migrate packages to vitest-cucumber and standardize config
  apps/cli/package.json
  apps/cli/tests/e2e/steps/common.steps.ts
  apps/cli/tests/e2e/steps/config.steps.ts
  apps/cli/tests/e2e/steps/infra.steps.ts
  apps/cli/tests/e2e/steps/list.steps.ts
  apps/cli/tests/e2e/steps/removal.steps.ts
  apps/cli/tests/e2e/steps/service.steps.ts
  apps/cli/tests/e2e/steps/validation.steps.ts
  apps/cli/tests/e2e/steps/workspace.steps.ts
  apps/cli/tests/e2e/support/hooks.ts
  apps/cli/tests/e2e/support/world.ts
  apps/cli/tsup.config.ts
  apps/example-cli/README.md
  apps/example-cli/package.json
  apps/example-cli/src/cli.ts
  apps/example-cli/src/index.ts
  apps/example-cli/tsconfig.json
  apps/example-cli/tsup.config.ts
  packages/README.md
  packages/config-preset/package.json
  packages/config-preset/tests/e2e/steps/common.steps.ts
  packages/config-preset/tests/e2e/support/hooks.ts
  packages/config-preset/tests/e2e/support/world.ts
  packages/config-preset/vitest.config.ts
  packages/logger/package.json
  packages/logger/tests/e2e/steps/logging.steps.ts
  packages/logger/tests/e2e/support/world.ts
  packages/logger/vitest.config.ts
  packages/testing-utils/README.md
  packages/testing-utils/package.json
  pnpm-lock.yaml
Due: format, lint

chore: Bump version to 2025.10.12 in package.json
  .promptx/pouch.json
  pnpm-lock.yaml
  src/mirror/package.json
Due: format

fix(logger): disable worker threads in test environment
  packages/logger/package.json
  packages/logger/src/core/pino-adapter.ts
Due: format, lint

feat(logger): add platform-specific entry points for cross-platform support
  packages/logger/features/cross-platform.feature
  packages/logger/package.json
  packages/logger/src/api/index.ts
  packages/logger/src/api/logger.ts
  packages/logger/src/api/methods.ts
  packages/logger/src/browser.ts
  packages/logger/src/cloudflare-workers.ts
  packages/logger/src/core/adapter-factory.ts
  packages/logger/src/core/console-adapter.ts
  packages/logger/src/core/index.ts
  packages/logger/src/index.ts
  packages/logger/src/nodejs.ts
  packages/logger/src/types/config.ts
  packages/logger/tests/e2e/steps/cross-platform.steps.ts
  packages/logger/tsup.config.ts
  pnpm-lock.yaml
Due: format, lint

fix(logger): correct Logger type import path
  packages/logger/src/api/methods.ts
Due: format, lint

docs(logger): update README for 1.0 release with platform-specific entry points
  packages/logger/README.md
  packages/logger/package.json
Due: format

chore: add .promptx and temp directories to gitignore
  .gitignore
  .promptx/pouch.json
Due: format

refactor: optimize vitest-cucumber usage and switch to threads pool
  apps/cli/package.json
  apps/cli/vitest.config.ts
  packages/config-preset/package.json
  packages/config-preset/src/api/vitest.ts
  packages/error-handling/package.json
  packages/example-package/package.json
  packages/logger/package.json
  pnpm-lock.yaml
Due: format, lint

fix: update example-package to use correct vitest-cucumber import
  packages/example-package/tests/e2e/steps/cucumber-features.steps.ts
  packages/example-package/tests/e2e/steps/example.steps.ts
  packages/example-package/tests/e2e/support/hooks.ts
  packages/example-package/tests/e2e/support/world.ts
Due: format, lint

chore: update mirror version to 2025.10.14
  src/mirror/package.json
Due: format

chore(config-preset): bump version to 0.2.0
  packages/config-preset/package.json
Due: format

feat(logger): add test environment support v1.1.0
  packages/logger/README.md
  packages/logger/features/test-environment.feature
  packages/logger/package.json
  packages/logger/src/core/adapter-factory.ts
  packages/logger/src/core/test-adapter.ts
  packages/logger/src/test.ts
  packages/logger/src/types/config.ts
  packages/logger/tests/unit/test-adapter.test.ts
  packages/logger/tsup.config.ts
Due: format, lint
