Repository Deepractice/DeepracticeInfra: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm format:check {staged_files}
  stage_fixed: true

lint:
  run: pnpm lint

feat: auto-format staged files in pre-commit hook
  lefthook.yml
Due: format

fix: relax logger API types for maximum flexibility
  packages/logger/src/index.ts
  packages/logger/tests/e2e/steps/logging.steps.ts
  packages/logger/tests/e2e/support/world.ts
  packages/logger/tsconfig.test.json
Due: format, lint

refactor: reorganize config packages and centralize dependency management
  .gitattributes
  configs/cucumber/README.md
  configs/cucumber/base.cjs
  configs/cucumber/package.json
  configs/eslint/index.js
  configs/eslint/package.json
  configs/monorepo/README.md
  configs/monorepo/package.json
  configs/prettier/README.md
  configs/prettier/index.js
  configs/prettier/package.json
  configs/tsup/README.md
  configs/tsup/base.ts
  configs/tsup/package.json
  configs/typescript/base.json
  configs/typescript/package.json
  configs/vitest/README.md
  configs/vitest/base.ts
  configs/vitest/package.json
  package.json
  packages/error-handling/cucumber.cjs
  packages/error-handling/tsup.config.ts
  packages/logger/cucumber.cjs
  packages/logger/package.json
  packages/logger/tsup.config.ts
  packages/prettier-config/.prettierignore
  packages/prettier-config/index.json
  packages/template/README.md
  packages/template/cucumber.cjs
  packages/template/tsconfig.json
  packages/template/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint

fix: correct tsconfig extends paths and remove cloudflare types
  configs/typescript/base.json
  packages/error-handling/tsconfig.json
  packages/logger/tests/e2e/support/world.ts
  packages/logger/tsconfig.json
  packages/template/tsconfig.json
Due: format, lint

refactor: rebrand as DeepracticeNodeSpec - AI-friendly Node.js ecosystem
  README.md
  package.json
Due: format

feat(commitlint): add commitlint config and git hook integration
  commitlint.config.js
  configs/commitlint/README.md
  configs/commitlint/index.js
  configs/commitlint/package.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: format, lint

refactor: replace domains/ with src/ for product core
  README.md
  pnpm-workspace.yaml
  src/README.md
Due: format

feat: implement CLI with core/domain architecture split
  apps/cli/cucumber.config.js
  apps/cli/features/project.feature
  apps/cli/package.json
  apps/cli/src/cli.ts
  apps/cli/src/commands/project/create.ts
  apps/cli/src/commands/project/index.ts
  apps/cli/src/commands/project/init.ts
  apps/cli/src/index.ts
  apps/cli/tsconfig.json
  apps/cli/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/core/executor/index.ts
  src/core/guide/index.ts
  src/core/index.ts
  src/core/package.json
  src/core/template/ProjectGenerator.ts
  src/core/template/index.ts
  src/core/template/templates/project/_gitignore
  src/core/template/templates/project/pnpm-workspace.yaml
  src/core/template/versions.ts
  src/domain/index.ts
  src/domain/package.json
Due: format, lint

fix: resolve TypeScript errors in CLI and core modules
  apps/cli/src/commands/project/create.ts
  src/core/executor/index.ts
  src/core/guide/index.ts
Due: format, lint

feat(cli): implement E2E test framework and fix cucumber config
  apps/cli/cucumber.cjs
  apps/cli/cucumber.config.js
  apps/cli/features/project.feature
  apps/cli/tests/e2e/steps/common.steps.ts
  apps/cli/tests/e2e/steps/project.steps.ts
  apps/cli/tests/e2e/support/hooks.ts
  apps/cli/tests/e2e/support/world.ts
  configs/cucumber/README.md
  configs/cucumber/base.cjs
Due: format, lint

feat(cli): implement E2E test framework and cucumber-tsx wrapper
  apps/cli/features/project.feature
  apps/cli/package.json
  apps/cli/tests/e2e/steps/common.steps.ts
  apps/cli/tests/e2e/steps/project.steps.ts
  configs/cucumber/bin/cucumber-tsx.cjs
  configs/cucumber/package.json
  src/core/template/ProjectGenerator.ts
Due: format, lint

fix: remove unused templateDir and __dirname imports
  src/core/template/ProjectGenerator.ts
Due: format, lint

chore: remove unused release_type parameter from version workflow
  .github/workflows/version.yml
Due: format

style: fix prettier formatting
  configs/cucumber/bin/cucumber-tsx.cjs
Due: none

chore: include cjs and mjs files in lefthook checks
  lefthook.yml
Due: format

fix: convert tsup config to JavaScript for Node.js compatibility
  configs/tsup/base.js
  configs/tsup/package.json
Due: format, lint

chore: move test reports to standard reports/ directory
  .gitignore
  configs/cucumber/base.cjs
  packages/error-handling/tests/reports/cucumber-report.html
  packages/error-handling/tests/reports/cucumber-report.json
Due: format

test: implement all missing test steps for error-handling package
  packages/error-handling/features/error-factory.feature
  packages/error-handling/tests/e2e/steps/error.steps.ts
  packages/error-handling/tests/e2e/steps/result.steps.ts
  packages/error-handling/tests/e2e/support/world.ts
Due: format, lint

fix: add repository field to all package.json files
  apps/cli/package.json
  configs/commitlint/package.json
  configs/cucumber/package.json
  configs/eslint/package.json
  configs/monorepo/package.json
  configs/prettier/package.json
  configs/tsup/package.json
  configs/typescript/package.json
  configs/vitest/package.json
  package.json
  packages/error-handling/package.json
  packages/logger/package.json
  packages/template/package.json
  src/core/package.json
  src/domain/package.json
Due: format

feat: auto-delete release branch after PR merged
  .github/workflows/release.yml
Due: format

fix: improve test reliability and fix project generation
  apps/cli/features/project.feature
  apps/cli/tests/e2e/steps/common.steps.ts
  apps/cli/tests/e2e/steps/project.steps.ts
  src/core/template/ProjectGenerator.ts
Due: format, lint

fix: resolve test failure by installing dependencies after package creation
  apps/cli/features/project.feature
  apps/cli/tests/e2e/steps/project.steps.ts
Due: format, lint

refactor(cli): rename 'project' command to 'scaffold' for role-based architecture
  apps/cli/cucumber.cjs
  apps/cli/features/scaffold.feature
  apps/cli/src/cli.ts
  apps/cli/src/commands/scaffold/create.ts
  apps/cli/src/commands/scaffold/index.ts
  apps/cli/src/commands/scaffold/init.ts
  apps/cli/src/index.ts
  apps/cli/tests/e2e/steps/common.steps.ts
  apps/cli/tests/e2e/steps/scaffold.steps.ts
  apps/cli/tests/e2e/support/hooks.ts
  apps/cli/tests/e2e/support/world.ts
Due: format, lint

feat(scaffold): generate complete src/ structure with core and domain packages
  apps/cli/features/scaffold.feature
  src/core/template/ProjectGenerator.ts
Due: format, lint

fix(ci): resolve test failures in CI environment
  .github/workflows/ci.yml
  apps/cli/tests/e2e/steps/common.steps.ts
Due: format, lint

feat(scaffold): implement service commands and fix validation issues
  apps/cli/src/commands/scaffold/app/validate.ts
  apps/cli/src/commands/scaffold/index.ts
  apps/cli/src/commands/scaffold/monorepo/index.ts
  apps/cli/src/commands/scaffold/monorepo/info.ts
  apps/cli/src/commands/scaffold/package/validate.ts
  apps/cli/src/commands/scaffold/service/add.ts
  apps/cli/src/commands/scaffold/service/index.ts
  apps/cli/src/commands/scaffold/service/list.ts
  apps/cli/src/commands/scaffold/service/remove.ts
  apps/cli/src/commands/scaffold/service/validate.ts
  apps/cli/tests/e2e/steps/removal.steps.ts
  apps/cli/tests/e2e/steps/service.steps.ts
  src/core/template/ServiceGenerator.ts
  src/core/template/index.ts
  src/core/template/versions.ts
  src/core/validator/WorkspaceValidator.ts
Due: format, lint

fix(test): fix failed scenarios and improve test coverage to 75.6%
  apps/cli/features/scaffold/app/list.feature
  apps/cli/features/scaffold/app/remove.feature
  apps/cli/features/scaffold/package/remove.feature
  apps/cli/features/scaffold/service/remove.feature
  apps/cli/src/commands/scaffold/config/init.ts
  apps/cli/tests/e2e/steps/config.steps.ts
  apps/cli/tests/e2e/steps/removal.steps.ts
  apps/cli/tests/e2e/steps/service.steps.ts
  apps/cli/tests/e2e/steps/validation.steps.ts
Due: format, lint

feat(test): implement all undefined steps and fix ambiguous definitions
  apps/cli/tests/e2e/steps/common.steps.ts
  apps/cli/tests/e2e/steps/config.steps.ts
  apps/cli/tests/e2e/steps/list.steps.ts
  apps/cli/tests/e2e/steps/removal.steps.ts
  apps/cli/tests/e2e/steps/workspace.steps.ts
  apps/cli/tests/e2e/support/world.ts
Due: format, lint

fix: correct dependency version and add verbose flag to monorepo info
  apps/cli/src/commands/scaffold/monorepo/index.ts
  apps/cli/src/commands/scaffold/monorepo/info.ts
  src/core/template/versions.ts
Due: format, lint

feat(config): implement list and validate commands
  apps/cli/src/commands/scaffold/config/index.ts
  apps/cli/src/commands/scaffold/config/list.ts
  apps/cli/src/commands/scaffold/config/validate.ts
Due: format, lint

fix(generators): replace unpublished dependencies with inline configs
  src/core/template/AppGenerator.ts
  src/core/template/PackageGenerator.ts
  src/core/template/ServiceGenerator.ts
Due: format, lint

fix(test): fix E2E test failures - reduce from 25 to 22 failures
  apps/cli/features/scaffold/app/add.feature
  apps/cli/features/scaffold/package/add.feature
  apps/cli/features/scaffold/service/add.feature
  apps/cli/features/scaffold/service/list.feature
  apps/cli/package.json
  apps/cli/tests/e2e/steps/workspace.steps.ts
  apps/cli/vitest.config.ts
  src/core/template/AppGenerator.ts
  src/core/template/ServiceGenerator.ts
  src/core/template/versions.ts
Due: format, lint

fix(typecheck): fix TypeScript errors for pre-push hook
  apps/cli/src/commands/scaffold/app/add.ts
  apps/cli/src/commands/scaffold/monorepo/info.ts
  package.json
  pnpm-lock.yaml
Due: format, lint

fix(test): fix 22 E2E test failures - improve to 81% pass rate
  apps/cli/src/commands/infra/app/list.ts
  apps/cli/src/commands/infra/config/index.ts
  apps/cli/src/commands/infra/config/validate.ts
  apps/cli/src/commands/infra/service/validate.ts
  src/core/template/PackageGenerator.ts
  src/core/validator/WorkspaceValidator.ts
Due: format, lint

fix(vitest-config): add /base export path for CLI import
  configs/vitest/package.json
Due: format

fix(test): quick wins - reduce failures from 25 to 22
  apps/cli/features/infra/app/add.feature
  apps/cli/features/infra/monorepo/info.feature
  apps/cli/features/infra/package/add.feature
  apps/cli/features/infra/service/add.feature
  apps/cli/src/commands/infra/monorepo/info.ts
  apps/cli/tests/e2e/steps/validation.steps.ts
Due: format, lint

fix: improve test reliability and configuration
  apps/cli/src/commands/infra/app/list.ts
  configs/vitest/base.js
  configs/vitest/package.json
  src/core/template/versions.ts
  src/core/validator/WorkspaceValidator.ts
Due: format, lint

Path conditions:
  format: any of: *.{ts,js,json,md,yml,yaml}
  lint: any of: *.{ts,js}
